[Desktop Entry]
Name=LinCVS
Name[pl]=LinCVS
Comment=Graphical CVS browser
Comment[pl]=Graficzny eksplorator zasobów CVS
Icon=lincvs.xpm
Exec=lincvs
Terminal=0
Type=Application
Categories=Development;RevisionControl;
Encoding=UTF-8
# vi: encoding=utf-8
